{% extends "layouts/admin.html" %}

{% block title %}Edit Admin{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Registration Form</span>
            </div>
            <div class="widget-body">
                <form id="registrationForm" method="post"  class="form-horizontal"
                      data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                    <div class="alert alert-danger fade in alert-radius-bordered alert-shadowed">
                        <button class="close" data-dismiss="alert">
                            ×
                        </button>
                        <i class="fa-fw fa fa-info"></i>
                        {% for message in messages %}
                        <strong>Message:</strong> {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="name" placeholder="Full name"
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="The first name is required and cannot be empty" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email address</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="email" type="email" placeholder="Email"
                                   data-bv-emailaddress="true"
                                   required
                                   data-bv-emailaddress-message="The input is not a valid email address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="The password is required and cannot be empty"
                                   data-bv-identical="true"
                                   data-bv-identical-field="confirmPassword"
                                   data-bv-identical-message="The password and its confirm are not the same"
                                   data-bv-different="true"
                                   data-bv-different-field="username"
                                   data-bv-different-message="The password cannot be the same as username" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">Retype password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Retype Password"
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="The confirm password is required and cannot be empty"
                                   data-bv-identical="true"
                                   data-bv-identical-field="password"
                                   data-bv-identical-message="The password and its confirm are not the same"
                                   data-bv-different="true"
                                   data-bv-different-field="username"
                                   data-bv-different-message="The password cannot be the same as username" />
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <input class="btn btn-palegreen ful-right" type="submit" value="Create Admin" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}